{% extends 'portfolio/base.html'%}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'portfolio/style2.css' %}">
{% endblock %}


{% block content %}
    <h1>My "Wall of Weeping"</h1>
    <br>
    <div class="image-gallery">
        {% for certificate in certificates %}
            <a href="{{ certificate.url }}" class="image-item" target="_blank">
                <img class="image" src="{% static certificate.image %}" alt="{{ certificate.alt }}">
            </a>
        {% endfor %}
    </div>
{% endblock %}
