{% extends 'portfolio/base.html' %} {% load i18n %} {% load static %} {% block content %}
<div class="row justify-content-center my-3">
  <div class="col-6">
    <a href="https://wakatime.com/@Pro100grammist">
      <img src="{% static 'portfolio/my_alterego.png' %}" class="img-main"/>
    </a>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">
      Hi, I'm <span class="nick-name-text">Pro100grammer</span><br>
      Full Stack Python Developer
    </h1>
  </div>
</div>

<h2 class="mt-3">Projects</h2>
<hr />
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">
    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid w-100 mb-2" />
    </a>
    {% else %}
    <img src="{{ project.image.url }}" class="img-fluid w-100 mb-2" />
    {% endif %}
    <h3 class="text-container-title">{{ project.title }}</h3>
    <div class="text-container">
      <p>{{ project.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %} {% block extra_scripts %}
<!-- Audio elements on a page for sound -->
<audio
  id="clickSound"
  src="{% static 'portfolio/sounds/mouse_click.mp3' %}"
></audio>
<!-- mouse click sound -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'portfolio/js/homepage.js' %}"></script>
{% endblock %}
