{% extends 'portfolio/base.html' %}
{% load static %}
{% load custom_tags %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'portfolio/style2.css' %}">
{% endblock %}

{% block content %}
{% for ide in ides %}
<div class="product">
    <div class="left-half">
        <a href="{{ ide.url }}" target="_blank">
            <img src="{% static ide.image %}" alt="{{ ide.name }}">
        </a>
    </div>
    <div class="right-half">
        <p>{{ ide.description }}</p>
        <div class="rating">
            <p>My rating is {{ ide.rating.1 }}</p>
            {% for _ in ide.rating.0|generate_stars %}
                <span>★</span>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
