{% extends 'portfolio/base.html' %}
{% load static %}
{% load custom_tags %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'portfolio/style2.css' %}">
{% endblock %}

{% block content %}
{% for item in items %}
<div class="product">
    <div class="left-half">
        <a href="{{ item.url }}" target="_blank">
            <img src="{% static item.image %}" alt="{{ item.name }}">
        </a>
    </div>
    <div class="right-half">
        <p>{{ item.description }}</p>
        <div class="rating">
            <p>My rating is {{ item.rating.1 }}</p>
            {% for _ in item.rating.0|generate_stars %}
                <span>★</span>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
