/* Styles for horizontal centering of the pagination panel */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Styles for pagination panel elements */
.pagination a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

/* Styles for a framed page number */
.pagination .current {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}

/* Styles for the button click effect */
.pagination a:hover {
  background-color: #007bff;
  color: #fff;
}

/* Styles for the active page */
.pagination .current a {
  background-color: #007bff;
  color: #fff;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  margin-left: 75px;
}

.article-content {
  /*max-width: 800px;*/
  margin: 0 auto;
  padding: 20px;
  font-size: 16px;
  line-height: 1.8;
  margin-top: 20px;
  text-align: justify;
}

.footer {
  margin-top: auto;
  height: 100px;
}