{% extends 'portfolio/base.html'%}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'blog/style_detail.css' %}">
{% endblock %}

{% block content %}

<div id="wrapper">
  <div class="content">
    <h1>{{ blog.title }}</h1>

    <h2>{{ blog.date | date:'F jS Y' }}</h2>
    <div class="article-content">
        <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="article-image">
        <p>{{ blog.description | linebreaksbr | safe }}</p>
    </div>
  </div>
</div>
{% endblock %}
