/* Загальні стилі */
body {
  font-family: 'Lato', sans-serif;
}

/* Навігаційне меню */
.navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1);
}

.navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* Стилізація кнопок */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 24px;
}

/* Випадаюче меню */
.dropdown-menu {
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
  min-width: auto;
  border: none;
  box-shadow: none;
  background-color: transparent;
  left: auto;
  right: 0;
  font-size: 18px;
}

.dropdown-menu-right {
  text-align: right; /* Вирівнювання тексту вправо */
}

.dropdown:hover .dropdown-menu {
  transform: scaleY(1);
}

/* Загальні стилі для списку навичок */
.skills-list {
  list-style: none;
  padding: 0;
}

/*.skills-list li {
  margin-bottom: 10px;
}*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.skills-list li {
  animation: fadeIn 3.0s ease;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(-10px);
  margin-top: 5px;
  margin-bottom: 10px;

}

.skills-list li:nth-child(1) {
  animation-delay: 0.4s;
}

.skills-list li:nth-child(2) {
  animation-delay: 0.8s;
}

.skills-list li:nth-child(3) {
  animation-delay: 1.2s;
}

.skills-list li:nth-child(4) {
  animation-delay: 1.6s;
}

.skills-list li:nth-child(5) {
  animation-delay: 2.0s;
}

.skills-list li:nth-child(6) {
  animation-delay: 2.4s;
}

.skills-list li:nth-child(7) {
  animation-delay: 2.8s;
}


/* Загальні стилі для зображень */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Загальні стилі для рядків та відступів */
.row,
.mt-3 {
  margin-left: 20px;
  margin-right: 20px;
}

/* Відступи для меню "Hard Skills" і "Soft Skills" */
.col-3 {
  display: flex;
  justify-content: flex-end; /* Вирівнювання вправо (справа від фото) */
  align-items: flex-start; /* Вирівнювання вгору (верхній край фото) */
}

/* Відступ для фотографії */
.col-6 {
  text-align: center; /* Центруємо фотографію по горизонталі */
}

/* Відступ для меню "Soft Skills" */
.col-3.text-right {
  display: flex;
  justify-content: flex-start; /* Вирівнювання вліво (ліворуч від фото) */
  align-items: flex-start; /* Вирівнювання вгору (верхній край фото) */
}

#clickSound {
  display: none; /* Приховати аудіоелемент */
}

/* Стилізація перемикача мови */
.language-switcher {
  display: flex;
  gap: 10px;
}

.language-option {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.language-option:hover {
  background-color: #333;
  color: #fff;
}

/* Стилізація футера */
.footer {
  background-color: #333;
  padding: 10px;
  color: white;
  text-align: none;
  margin-top: auto;
  height: 100px;
}

/* Медіа-запити */
@media (min-width: 992px) {
  #hometext {
    font-size: 4rem;
  }

  #blogdetailtitle {
    font-size: 5rem;
  }
}
