.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.text-container p {
  flex: 1;
  margin: 0;
  text-align: justify;
}

.row, .mt-3 {
  margin-left: 20px;
  margin-right: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.language-switcher {
  display: flex;
  gap: 10px;
}

.language-option {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.language-option:hover {
  background-color: #333;
  color: #fff;
}

.search-field {
    margin-right: 20px;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}

.footer {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: none;
    margin-top: auto;
    height: 100px;
}
